@import "variables";
.products-search__wrapper {
  padding-bottom: 5rem;
  background: $color_item2;
  display: flex;
  justify-content: center;

  &__sidebar {
    width: 35%;
    padding-top: 2rem;
    padding-left: 4rem;

    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      &__sort {
        width: 70%;
        margin-bottom: 2.5rem;
        text-align: center;
        
        select {
          width: 100%;
          height: 3rem;
          padding: 0 1rem;
          @include border();
        }
      }

      &__search-group {
        width: 70%;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $color_item1;

        &__title {
          width: 100%;
        }

        &__field {
          width: 100%;
          margin-top: 2rem;

          &__title {
            margin-bottom: 0.3rem;
          }

          &__input {

            &__number {
              margin-top: 0.5rem;
              display: flex;
              justify-content: space-between;
              align-items: center;
              
              input {
                width: 100%;
                height: 3rem;
                padding: 0 1rem;
                @include border();
              }

              span {
                margin: 0 0.6rem;
              }
            }

            &__text {
              width: 100%;
              height: 3rem;
              padding: 0 1rem;
              @include border();
            }
          }

          &__checkbox {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            input[type=checkbox] {
              margin: 0.2rem 0.7rem 0 0.5rem;
              transform: scale(1.6);
            }

            label {
              width: 35%;
              margin-bottom: 1rem;
              font-size: 0.9rem;
            }
          }

          select {
            width: 100%;
            height: 3rem;
            padding: 0 1rem;
            @include border();
          }

          i {
            margin-right: 0.1rem;
            color: #9a9eab;
            font-size: 1.2rem;
          }

          p {
            font-size: 0.8rem;
            font-weight: normal;
          }
        }

        &__button-field {
          width: 100%;
          margin-top: 2rem;
          font-size: 0.9rem;
          display: flex;
          justify-content: space-between;

          span {
            padding: 0.8rem 2.4rem;
            background: #9a9eab;
            color: $color_item1;
            @include border();
            cursor: pointer;
            opacity: 0.9;
          }

          input {
            padding: 0.8rem 2.6rem;
            background: red;
            color: $color_item1;
            @include border();
            cursor: pointer;
            opacity: 0.9;
          }
        }

        p {
          font-weight: bolder;
        }
      }
    }
  }

  &__main {
    width: 65%;
    padding: 2rem 3rem;

    &__heading {
      margin-bottom: 3rem;

      h2 {
        margin-bottom: 1rem;

        span {
          font-size: 1.2rem;
          font-weight: bolder;
        }
      }
    }

    &__contents {
      margin-bottom: 3rem;
      display: flex;
      flex-wrap: wrap;

      &__product-prev {
        width: calc(25% - 1.3rem);
        margin-right: 1.3rem;
        margin-bottom: 1.5rem;
        background: $color_item1;
        position: relative;

        &__img {
          position: relative;

          img {
            width: 100%;
            height: 10rem;
          }

          span {
            padding: 0.1rem 0.7rem 0.1rem 0.5rem;
            border-radius: 0 2rem 2rem 0;
            background: rgba(0,0,0,0.3);
            color: $color_item1;
            font-size: 0.8rem;
            font-weight: bolder;
            position: absolute;
            top: 8.3rem;
            left: 0;
          }
        }

        &__name {
          min-height: 2.5rem;
          padding: 0.2rem 0.5rem;
          display: flex;
          justify-content: space-between;

          &__favorite {
            width: 2.2rem;
            font-size: 0.8rem;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;

            i {
              color: gray;
              font-size: 1rem;
            }
          }

          p {
            font-size: 0.8rem;
          }
        }
        &:hover {
          opacity: 0.7;
        }

        a {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
        }
      }
    }

    &__pagination {
      padding: 0 1rem;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.pagination {
  font-size: 0.7rem;

  a {
    color: $color_item5;
    text-decoration: none;
  }
}

.page, .next, .last{
  padding: 0.8rem 0.8rem 0.8rem 1rem;
  background: $color_item1;
  border: 1px solid $color_item4;
  border-radius: 0.3rem;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.current {
  background-color: red;
  color: $color_item1;
  cursor: default;

  &:hover {
    opacity: 1;
  }
}

.next {
  margin-left: 13rem;
}